.hero-alquiler {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('img/hero2.webp') no-repeat center center/cover;
    color: white;
    padding: 100px 20px;
    height: 20vh;
}

.equipos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1100px;
    margin: auto;
    padding: 50px 20px;
}

.equipo-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.equipo-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.equipo-card h3 {
    margin: 15px 0;
    font-size: 1.5rem;
    color: #0056b3;
}

.equipo-card p {
    font-size: 1rem;
    color: #555;
}

.equipo-card .btn {
    display: inline-block;
    margin-top: 10px;
    background: #0056b3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.equipo-card:hover {
    transform: translateY(-5px);
}
