:root {
    --color-uno: #000000;
    --color-dos: #F6F6F6;
    --color-tres: rgba(0, 0, 0, 0.1);
    --color-cuatro: #0056b3;
    --color-cinco: rgba(0, 0, 0, 0.5);
    --color-seis:#555;
    --color-siete: #e5f2ff;
    --color-ocho:#eef6ff;
}

.main-mantenimiento{
    background: linear-gradient(to bottom, #e6f0ff, #d0e3ff);

}
.hero-mantenimiento {
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    background: linear-gradient(var(--color-cinco), var(--color-cinco)), 
                url('img/hero-manteniemiento.webp') no-repeat center center/cover;
    color: var(--color-dos);
    padding: 14vh 5vw; 
    box-sizing: border-box; 
    
}

.hero-mantenimiento__titulo {
    max-width: 90%; 
    padding: 2vh 5vw 2vw; 
    background: var(--color-cinco);
    border-radius: 10px;
    font-size: 2.3vw; 
    box-sizing: border-box; 
    text-shadow: 2px 2px 4px var(--color-cinco);
}


h1 {
    margin-bottom: 0.5em;
}

.hero-mantenimiento__titulo__contenido {
    margin-bottom: 0.5em; 
    font-size: 1.8vw;
    padding: 1em;
    color: var(--color-siete);
    
}

.equipo-card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.equipos-grid {
    gap: 80px;
    max-width: 80%;
    margin: auto;
    padding: 5vh 3vw;
}

@media (max-width: 768px) {
    .hero-mantenimiento {
        height: auto; 
        padding: 5vh 3vw;
    }

    .hero-mantenimiento__titulo {
        font-size: 4vw; 
        max-width: 95%; 
        padding: 3vh 4vw; 
    }

    .btn {
        font-size: 0.6rem; 
        padding: 0.8em 1.5em; 
    }

    .hero-mantenimiento__titulo {
        padding: 3vw; 
    }

    
}
